<div class="container mt-6">


    <div class="container text-center mt-4">
        <h1>You Can Create Card Readers Manually or Using CSV File or XML File.</h1>
        <div class="d-inline-block mt-3">
            <button class="btn btn-primary me-2" (click)="ManualPage()">
                <i class="bi bi-credit-card-fill"></i> Manual</button>
            <button class="btn btn-secondary" (click)="importPage()"><i class="bi bi-cloud-upload"></i> Import
                File</button>

        </div>
    </div>
</div>