<div class="container mt-5">
    <h2>Cards List</h2>
    <div class="d-flex justify-content-end mt-3 mb-4">

        <button class="btn btn-primary" (click)="createPage()"><i class="bi bi-plus-lg"></i> New Card Reader</button>
    </div>
    <div class="card">
        <p-table [value]="cardReaders" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%">Photo</th>
                    <th style="width:25%">Name</th>
                    <th style="width:25%">Email</th>
                    <th style="width:25%">Phone</th>
                    <th style="width:25%">Gender</th>
                    <th style="width:25%">Date Birth</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cardreader>
                <tr>
                    <td>
                        <img [src]="'data:image/jpeg;base64,' + cardreader.photo" width="50" class="shadow-4" />
                    </td>

                    <td>{{ cardreader.name }}</td>
                    <td>{{ cardreader.email }}</td>
                    <td>{{ cardreader.phone }}</td>
                    <td>{{ cardreader.gender }}</td>
                    <td>{{ cardreader.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button class="btn btn-danger" (onClick)="deleteCardReader(cardreader.id)">
                            <span><i class="bi bi-trash3"></i></span>
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>